*{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: blueviolet;
}

main {
    background-color: white;
    box-shadow:  3px 3px 5px black;
    margin: auto;
    box-sizing: border-box;
    width: 500px;
}